[settings]
BUILDSOURCESFOLDER=BuildSources
BUILDFOLDER=build
INDIBASEBUILDFOLDER=indi-core
INDI3RDPARTYBUILDFOLDER=indi-3rdparty
INDI3RDPARTYLIBSBUILDFOLDER=indi-3rdparty-libs
STELLARSOLVERBUILDFOLDER=stellarsolver
KSTARSBUILDFOLDER=kstars
PHD2BUILDFOLDER=phd2
LIBXISFBUILDFOLDER=libxisf

MYDRIVERSFOLDER=my-indi-drivers
UDEVFOLDER=udev
USBRESETSCRIPTFOLDER=USB-ResetScript

# Force this versions to build
FORCEINDILIBVERSION=v2_1_9
FORCESTELLARVERSION=v2_7
FORCEKSTARSVERSION=v3_8_1
FORCEPHD2VERSION=v2_6_12
FORCELIBXISFVERSION=v0_2_13

BUILDSTELLARTESTER=true
BUILDPHD2=true
BUILDLIBXISF=true

#BUILDTYPE=Debug
BUILDTYPE=Release


[indiversion]
v2_0_0=v2.0.0
v2_0_2=v2.0.2
v2_0_4=v2.0.4
v2_0_7=v2.0.7
v2_1_1=v2.1.1
v2_1_4=v2.1.4
v2_1_7=v2.1.7
v2_1_8=v2.1.8
v2_1_9=v2.1.9


[stellarsolverversion]
v2_0=2.0
v2_1=2.1
v2_2=2.2
v2_3=2.3
v2_4=2.4
v2_5=2.5
v2_6=2.6
v2_7=2.7


[kstarsversion]
v3_7_6=origin/stable-3.7.6
v3_7_7=origin/stable-3.7.7
v3_7_8=origin/stable-3.7.8
v3_7_9=origin/stable-3.7.9
v3_8_0=origin/stable-3.8.0
v3_8_1=origin/stable-3.8.1


[phd2versionhash]
v2_6_10=933a8e8
v2_6_11=b737e56
v2_6_12=94e611e
v2_6_13=3c41fb2
v2_6_14=03374a8

[phd2version]
v2_6_10=v2.6.10
v2_6_11=v2.6.11
v2_6_12=v2.6.12
v2_6_13=v2.6.13
v2_6_14=v2.6.14

[libxisfversion]
v0_2_13=v0.2.13
v0_2_12=v0.2.12
v0_2_11=v0.2.11
v0_2_10=v0.2.10
v0_2_9=v0.2.9

[prerequisites]
appstream
aria2
axel
breeze-icon-theme
build-essential
cdbs
cmake
dkms
extra-cmake-modules
fxload
gettext
git
kdoctools5
kinit-dev
kio
libavcodec-dev
libavdevice-dev
libbluetooth-dev
libboost-dev
libboost-regex-dev
libcfitsio-dev
libcurl4-gnutls-dev
libdc1394-dev
libeigen3-dev
libev-dev
libfftw3-dev
libftdi1-2
libftdi1-dev
libftdi-dev
libgmock-dev
libgphoto2-dev
libgps-dev
libgsl0-dev
libgsl-dev
libgtest-dev
libindi-dev
libjpeg-dev
libkf5auth-dev
libkf5config-dev
libkf5coreaddons-dev
libkf5crash-dev
libkf5declarative-dev
libkf5doctools-dev
libkf5i18n-dev
libkf5kio-dev
libkf5kcmutils-dev
libkf5newstuff-dev
libkf5notifications-dev
libkf5notifyconfig-dev
libkf5package-dev
libkf5plotting-dev
libkf5xmlgui-dev
libkrb5-dev
liblimesuite-dev
libnova-dev
libopencv-dev
libqt5core5a
libqt5datavisualization5-dev
libqt5gui5
libqt5qml5
libqt5svg5-dev
libqt5websockets5-dev
libqt5widgets5
libraw-dev
librtlsdr-dev
libsecret-1-dev
libtheora-dev
libtiff-dev
libudev-dev
libusb-1.0-0-dev
libusb-dev
libwxgtk3.2-dev
libxisf0
libxisf-dev
libzmq3-dev
limesuite
limesuite-udev
pkg-config
python3-ftdi1
qml-module-qtquick-controls
qt5keychain-dev
qt6-base-dev
qtbase5-dev
qtdeclarative5-dev
wcslib-dev
wget
xplanet
xplanet-images
zlib1g-dev
